<section class="pet">
  <img src="/images/{{pet.filename}}" alt="{{pet.name}}">
  <div class="pet-details">
    <h3>{{pet.name}}</h3>
    <p>Age: {{ pet.age }}</p>
    <p>Found Date: {{ format_date pet.found_date}}</p>
    <p>Color: {{ pet.color }}</p>
    <p>Size: {{ pet.size }}</p>
    <p>Status: {{ pet.status }}</p> 
  </div>
</section> 
